body
  nav
  div.school-title Cool high School

    div.nav-content
      ul
      li
      a(href="/courses") Courses
      li
      a(href="/students") Students
      div
        div.container
          block content